.video-detail {

  .embed-responsive {
    position: relative;
    height: calc(50vh - 50px);
    overflow: hidden;
  }

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ddd;
    max-width: 768px;
    min-height: 34vh;
    margin: auto;
    padding: 25px 20px;
    .details-title {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 35px;
    }
    h2, h3 {
      text-align: center;
      margin-bottom: 1em;
      color: $red;
    }

  }

}
